@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #E7E9F1;
}
.container{
  display: grid;
  grid-template-columns: 2fr repeat(3, auto);
  grid-gap: 1rem;
  place-items: center;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  background-color: white;
}
.container__home {
  display: flex;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: .5s;
}
.container__home:hover {
  color: #6744C2;
  background-color: rgba(98, 0, 238, .1);
  cursor: pointer;
}
.container__home h5 {
  margin-left: 1rem;
}
.icon {
  padding: 0 1rem;
  transition: .5s;
}
.icon:hover {
  padding: 1rem;
  border-radius: 2rem;
  color: #6744C2;
  background-color: rgba(98, 0, 238, .1);
  cursor: pointer;
}